{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "8"
            }
        }]
    ],
    "sourceMaps": true,
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
