{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "meteor": true,
        "mocha": true
    },
    "globals": {
        "Meteor": true,
        "WebAppLocalServer": true,
        "Desktop": true,
        "Profile": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "settings": {
        "import/core-modules": [
            "winston",
            "original-fs",
            "electron",
            "rimraf"
        ]
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            0
        ],
        "no-bitwise": [
            "error",
            {
                "allow": [
                    "~"
                ]
            }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.js",
                    "**/helpers/**/*.js",
                    "**/skeleton/**/*.js"
                ]
            }
        ]
    }
}
