{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "meteor": true,
        "mocha": true
    },
    "globals": {
        "Meteor": true,
        "WebAppLocalServer": true,
        "Desktop": true,
    },
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            0
        ]
    }
}
